[submodule "autoware-dev-guide"]
	path = autoware-dev-guide
	url = https://github.com/NEWSLabNTU/autoware-dev-guide.git
[submodule "rustdoc/vanetza"]
	path = rustdoc/vanetza
	url = https://github.com/NEWSLabNTU/vanetza-rust.git
[submodule "rustdoc/vanetza-sys"]
	path = rustdoc/vanetza-sys
	url = https://github.com/NEWSLabNTU/vanetza-rust.git
[submodule "vanetza-rust-dev-guide"]
	path = vanetza-rust-dev-guide
	url = https://github.com/NEWSLabNTU/vanetza-rust.git
[submodule "rustdoc/tf-format"]
	path = rustdoc/tf-format
	url = https://github.com/NEWSLabNTU/tftk.git
[submodule "zenoh-for-vnet-guide"]
	path = zenoh-for-vnet-guide
	url = https://github.com/NEWSLabNTU/zenoh-for-vnet-guide.git
[submodule "audosdv-book"]
	path = audosdv-book
	url = https://github.com/NEWSLabNTU/AutoSDV-book.git
