[submodule "autoware-dev-guide"]
	path = autoware-dev-guide
	url = https://github.com/NEWSLabNTU/autoware-dev-guide.git
[submodule "rustdoc/vanetza"]
	path = rustdoc/vanetza
	url = https://github.com/NEWSLabNTU/vanetza-rust.git
